<app-spinner></app-spinner>
<div class="row">
  <div class="col-lg-10">
    <h2>{{ "price.title" | translate }}</h2>
  </div>
  <div class="col-lg-2 text-end actions">
    <a routerLink="create" class="btn btn-primary"
      ><em class="oi oi-plus"></em> {{ "price.create" | translate }}</a
    >
  </div>
</div>
<fieldset>
  
  <legend id="form-results">
    {{ "form.results" | translate }}
  </legend>

  <table class="table table-striped">
    <thead>
      <tr>
        <th class="sortable" (click)="sort('startDate')">
          {{ "price.startDate" | translate }}
        </th>
        <th class="sortable" (click)="sort('endDate')">
          {{ "price.endDate" | translate }}
        </th>
        <th class="sortable" (click)="sort('cuantity')">
          {{ "price.cuantity" | translate }}
        </th>
        <th class="sortable" (click)="sort('product')">
          {{ "price.asociated" | translate }}
        </th>
        <th class="sortable">{{ "price.actions" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let price of searchResult">
        <th>{{ price.startDate }}</th>
        <th>{{ price.endDate }}</th>
        <th>{{ price.cuantity | currency: 'USD' }}</th>
        <th>
         {{price.product?.description}}
        </th>
        <th headers="tableActions" class="actions">
          <a
            class="btn btn-light"
            [routerLink]="['.', price.id]"
            href="javascript:;"
          >
            <em class="oi oi-pencil"></em>
          </a>
        </th>
      </tr>
    </tbody>
  </table>

  <app-pagination
    [resultObject]="resultObject"
    (pageChanged)="showPage($event)"
    (sizeChanged)="changeSize($event)"
  ></app-pagination>
</fieldset>
