<fieldset>
  <legend *ngIf="!createMode">
    {{ "price.edit-price-title" | translate : price }}
  </legend>
  <legend *ngIf="createMode">
    {{ "price.create-price-title" | translate }}
  </legend>

  <form
    class="row g-3"
    name="form"
    (ngSubmit)="f.form.valid && save()"
    #f="ngForm"
    autocomplete="false"
    novalidate
  >
    <div class="col-md-12">
      <label for="startDate" class="form-label">{{
        "price.startDate" | translate
      }}</label>
      <input
        type="date"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.submitted && !startDate.valid }"
        id="startDate"
        name="startDate"
        required
        placeholder="{{ 'price.startDate' | translate }}"
        [(ngModel)]="price.startDate"
        #startDate="ngModel"
        [ngModelOptions]="{ standalone: true }"
      />
      <div *ngIf="f.submitted && !startDate.valid" class="invalid-feedback">
        {{ "form.validation.required" | translate }}
      </div>
      <div class="col-md-12">
        <label for="endDate" class="form-label">{{
          "price.endDate" | translate
        }}</label>
        <input
          type="date"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.submitted && !endDate.valid }"
          id="endDate"
          name="endDate"
          required
          placeholder="{{ 'price.endDate' | translate }}"
          [(ngModel)]="price.endDate"
          #endDate="ngModel"
          [ngModelOptions]="{ standalone: true }"
        />
        <div *ngIf="f.submitted && !endDate.valid" class="invalid-feedback">
          {{ "form.validation.required" | translate }}
        </div>
      </div>
      <div class="col-md-12">
        <label for="cuantity" class="form-label">{{
          "price.cuantity" | translate
        }}</label>
        <input
          type="number"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.submitted && !cuantity.valid }"
          id="cuantity"
          name="cuantity"
          required
          placeholder="{{ 'price.cuantity' | translate }}"
          [(ngModel)]="price.cuantity"
          #cuantity="ngModel"
          [ngModelOptions]="{ standalone: true }"
        />
        <div *ngIf="f.submitted && !cuantity.valid" class="invalid-feedback">
          {{ "form.validation.required" | translate }}
        </div>
      </div>
      <!-- Selector de objetos para el precio actual -->
      <div class="col-md-6">
        <label for="roles" class="form-label">{{
          "price.product" | translate
        }}</label>
        <select
          name="selectionOfProducts"
          class="form-control"
          [(ngModel)]="seleccionado"
          (onmouseout)="save()"
          [ngModelOptions]="{ standalone: true }"
        >
          <!-- Mostramos todos los productos disponibles -->
          <option *ngFor="let product of searchResult" [ngValue]="product">
            {{ product.description }}
          </option>
        </select>
        <p>Producto seleccionado :{{ seleccionado?.description }}</p>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a routerLink=".." class="btn btn-outline-primary">
        {{ "form.cancel" | translate }}
      </a>
      <button type="submit" class="btn btn-primary ml-2">
        {{ "form.save" | translate }}
      </button>
    </div>
  </form>
</fieldset>
