<div class="row">
  <div class="col-lg-10">
    <h2>{{ "user.title" | translate }}</h2>
  </div>
  <div class="col-lg-2 text-end actions">
    <a routerLink="create" class="btn btn-primary"
      ><em class="oi oi-plus"></em> {{ "user.create" | translate }}</a
    >
  </div>
</div>

<fieldset>
  <legend>
    {{ "form.search-form" | translate }}
  </legend>
  <form class="row g-3" (ngSubmit)="f.form.valid && find()" #f="ngForm">
    <div class="col-md-4">
      <label for="email" class="form-label">{{
        "user.email" | translate
      }}</label>
      <div class="input-group">
        <span class="input-group-text" id="email-addon">@</span>
        <input
          type="text"
          class="form-control"
          name="email"
          placeholder="{{ 'user.email' | translate }}"
          aria-describedby="email-addon"
          [(ngModel)]="findRequest.filter.email"
          #email="ngModel"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label for="name" class="form-label">{{ "user.name" | translate }}</label>
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="{{ 'user.name' | translate }}"
        [(ngModel)]="findRequest.filter.name"
        #name="ngModel"
      />
    </div>
    <div class="col-md-2">
      <label for="activo" class="form-label">{{
        "user.enabled" | translate
      }}</label>
      <select
        name="activo"
        class="form-select"
        [(ngModel)]="findRequest.filter.enabled"
        #enabled="ngModel"
      >
        <option value="">{{ "form.select" | translate }}</option>
        <option value="true">{{ "form.yes" | translate }}</option>
        <option value="false">{{ "form.no" | translate }}</option>
      </select>
    </div>
    <div class="form-group">
      <div class="offset-sm-2 col-sm-10 text-end">
        <button type="submit" class="btn btn-outline-primary">
          {{ "form.search" | translate }}
        </button>
      </div>
    </div>
  </form>
</fieldset>

<fieldset>
  <legend id="form-results">
    {{ "form.results" | translate }}
  </legend>

  <table class="table table-users table-hover" aria-describedby="form-results">
    <thead>
      <tr>
        <th id="userId" class="sortable" (click)="sort('id')">
          ID <em class="float-right" [ngClass]="getSortIcon('id')"></em>
        </th>
        <th id="userName" class="sortable" (click)="sort('name')">
          {{ "user.name" | translate }}
          <em class="float-right" [ngClass]="getSortIcon('name')"></em>
        </th>
        <th id="userEmail" class="sortable" (click)="sort('email')">
          {{ "user.email" | translate }}
          <em class="float-right" [ngClass]="getSortIcon('email')"></em>
        </th>
        <th id="tableActions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of searchResult">
        <td headers="userId">{{ user.id }}</td>
        <td headers="userName">{{ user.name }}</td>
        <td headers="userEmail">{{ user.email }}</td>
        <td headers="tableActions" class="actions">
          <a class="btn btn-light" [routerLink]="['.', user.id]">
            <em class="oi oi-pencil"></em>
          </a>
          <a class="btn btn-light" (click)="remove(user)" href="javascript:;">
            <em
              class="oi"
              [ngClass]="{
                'oi-trash': user.accountNonLocked,
                'oi-check': !user.accountNonLocked
              }"
            ></em>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    [resultObject]="resultObject"
    (pageChanged)="showPage($event)"
    (sizeChanged)="changeSize($event)"
  ></app-pagination>
</fieldset>
